body
{
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}

.avatar
{
    width: 150px;
}

.card{

    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display:flex;
    justify-content: space-around;
    text-align: center;
    background: #ddebf8;
    color: #2b2839;
    border-bottom: #d8cefe 5px solid;
   
}

.dotted-blue
{
    border: 1px dotted blue;
    
}


h1:hover,h3:hover,p:hover
{
    transform: scale(1.3);
    transition: all 0.s ease-in-out;

}
